* {
  box-sizing: border-box;
}
body {
  color: #222;
}
img {
  max-width: 100%;
}

main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 15px;
}
div.posts {
  display: grid;
  /* grid-template-columns: 0.9fr 1.1fr; */
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 700px) {
  div.posts {
    grid-template-columns: 0.9fr 1.1fr;
  }
}

div.posts div.image {
  width: 40%;
}
div.posts div.texts h2 {
  margin: 0;
  font-size: 1.8rem;
}
div.post div.texts a {
  text-decoration: none;
  color: inherit;
}
div.posts p.info {
  margin: 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}
div.posts p.info a.author {
  color: #333;
}
div.posts p.summary {
  margin: 10px 0;
  line-height: 1.5rem;
}
form.login form.register {
  max-width: 400px;
  margin: 0 auto;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
button {
  width: 100%;
  display: block;
  border: 0;
  background-color: #1025ae76;
  border-radius: 5px;
  padding: 7px 0;
}
form .login h1,
form .register h1 {
  text-align: center;
}
div.post-page div.image {
  max-height: 300px;
  overflow: hidden;
  display: flex;
}
div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
div.post-page a {
  color: #333;
  text-decoration: underline;
}
div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}
div.post-page time {
  text-align: center;
  display: block;
  font-size: 0.7rem;
  color: #aaa;
}
div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.7rem;
}
div.post-page div.content p {
  line-height: 1.6rem;
}
